@font-face
{
    font-family: avenir;
    src: url("../fonts/Avenir.ttf");
}
@font-face
{
    font-family: brandon;
    src: url("../fonts/Brandon.ttf");
}
#mn {
    position: relative;
    top: 0;
    background-color: #000000;
    width: 1349px;
}
#mn .tpl
{
    display: inline-flex;
    width: 1349px;
}
#mn ul {
    margin: 0;
    position: relative;
    display: inline-flex;
    align-items: center;
    background-color: #1b1b1b;
    padding-left: 68.5px;
    width: 1280px;
    height: 41px;
}

#mn ul li {
    display: inline-flex;
    position: relative;

    list-style: none;
    cursor: pointer;
    text-align: center;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    font-size: 12px;

}
#lgo img {
    width: 80px;
    padding-left: 98px;
    padding-right: 500px;
}


#lgo-text {
    margin-right: 30px;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 78px;
}

#lgo-text a{
    font-family: brandon;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    transition: all ease-in-out 250ms;
    transition-duration: 0.5s;
}
#lgo-text a:visited a:active a:link {
    color: #FFFFFF;
    text-decoration: none;
}
#lgo-text a:hover {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #92dbf3,
    0 0 40px #b7fab7, 0 0 50px #a5ffa5, 0 0 60px #7cdeff, 0 0 70px #80d680, 0 0 80px #b6f0b6;
    text-decoration: none;
}
#login
{
  padding-top: 25px;
  padding-left: 550px;
}

#login-btn, #logout-btn {
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    transition-duration: 0.5s;
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: avenir;
}

#login-btn {
    border: solid 2px #ffffff;
    box-sizing: border-box;
}

#logout-btn {
    border: solid 2px #ffffff;
    box-sizing: border-box;
}
#login-btn:hover, #logout-btn:hover {
    background: #f1f1f1;
    color: black;
    text-decoration: none;
}
ul a {
    font-family: avenir;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

.xyz li a {
    width: 100%;
    text-decoration: none;
}
.xyz li a:link a:visited{
    width: 100%;
    text-decoration: none;
}
.xyz li a:visited{
    width: 100%;
    text-decoration: none;
}
.xyz li a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.xyz li a::before  {
    content: '';
    display: block;
    height: 4px;
    width: 0%;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px #80d680, 0 0 40px #b6f0b6, 0 0 80px #ADD8E6;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all ease-in-out 250ms;
    text-decoration: none;
}

.xyz li a:hover::before {
    width: 100%;
    text-decoration: none;
}
#rt-btn {
    position: absolute;
    right: 57px;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cart-btn {
    right: 7%;
    margin-top: 5px;
    align-self: center;
}

#cart-logo{
    width: 30px;
    transition: 0.5s;
}
#cart-logo:hover {
    width: 35px;

}
.num
{
  position: absolute;
  right: -5px;
  top: -2px;
  height: 15px;
  width: 15px;
  background: #ffffff;
  color: #000000;
  border-radius: 50%;
  font-family: brandon;
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  line-height: 15px;
}
.sidenav  {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.8s;
    background-color: #FFFFFF;
}
.upper
{
  background-color: #000000;
  width: 100%;
  height: 100px;
  top: 0;
  padding: 20px 0 0;
  display: inline-flex;
}
.bton
{
    border: none;
    border-radius: 3px;
    background-color: transparent;
    padding: 0;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    width: 18px;
    height: 30px;
    margin: 25px 0;
    left: 23px;
}
.bton .arrow
{
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.upper b
{
    display: block;
    font-size: 23px;
    font-weight: lighter;
    font-family: brandon;
    line-height: 28px;
    text-align: center;
    margin: 24px 137px;
    color: white;

}
.cart-content
{
    box-sizing:border-box;
    display:block;
    height:390px;
    padding:34px 34px 34px 34px;
    width:350px;
}
.select-items
{
    font-family: brandon;
    font-size:18px;
    font-stretch:100%;
    font-weight:400;
    line-height:29px;
    text-align:center;
    height:266px;
    width:100%;
}

.select-total
{
    display:block;
    height:76px;
    margin-top:20px;
    font-family: brandon;
    font-size:26px;
    font-stretch:100%;
    font-weight:400;
    line-height:39px;
    text-align:left;
}
h5
{
    font-size: 26px;
    text-align: left;
}
.lower {
    padding: 34px 34px 0;
    border-top-width: 1px;
    border-top-style: solid;
    height: 114px;
    border-top-color: rgba(2,2,2,0.3037909836065574);
    display: block;
    box-sizing: border-box;
    position: relative;
    bottom: -37px;
  }
.lower .crt-btn
{
  width: 100%;
  background-color: #4A4C52;
  border-width: 0;
  border-color: #CFC5C3;
  border-radius: 0;
  border-style: solid;
  display: inline-block;
  padding: 10px 20px 10px 20px;
}
.lower .crt-btn:hover
{
  background-color: #A7A7A7;
}
.lower .crt-btn a:hover
{
  text-decoration: none;
}
